@font-face {
  font-family: 'Gilroy';
    src:
      url('fonts/gilroyextrabold.woff2') format('woff2'),
      url('fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
    src:
      url('fonts/gilroylight.woff2') format('woff2'),
      url('fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --special-pink: #f6dada;
}

/* Global */
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.button {
  position: relative;
  box-sizing: content-box;
  padding: 9px 43px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  outline: none;
  border: none;
  background: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  height: 100%;
}

.button:focus,
.button:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

/* page-header */
.page-header {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 164px;
  background-color: var(--special-yellow);
}

.page-header--catalog {
  padding-bottom: 50px;
}

.page-header__logo-link {
  width: 163px;
  margin-top: -20px;
  margin-bottom: 29px;
}

.page-footer__logo-image {
  display: block;
}

.page-header__logo-link:hover,
.page-header__logo-link:focus {
  opacity: 0.6;
}

.page-header__logo-link:active {
  opacity: 0.3;
}

.page-header__logo-image {
  display: block;
}

.page-header__user-navigation {
  margin-bottom: 20px;
}

/* user-list */
.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.user-list--footer {
  justify-content: space-between;
  width: 325px;
}

.user-list--login {
  width: 500px;
}

.user-list--login .user-list__item--enter {
  margin-left: 20px;
}

.user-list__item--search {
  margin-right: 100px;
}

.user-list__item--compare {
  margin-left: auto;
}

.user-list__item--basket {
  margin-left: 41px;
}

.user-list__link {
  position: relative;
  line-height: 20px;
  color: var(--basic-black);
}

.user-list__link--enter {
  padding-left: 24px;
}

.user-list__link--enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-list__link--enter-footer::before {
  background-image: url("../img/icon_user-yellow.svg");
}

.user-list__link--login-footer::before {
  background-image: url("../img/icon_user-yellow.svg");
  opacity: 0.7;
}

.user-list__link--login {
  margin-right: 20px;
}

.user-list__link--exit {
  color: rgba(0, 0, 0, 0.3);
}

.user-list__link--compare {
  padding-left: 26px;
}

.user-list__link--compare::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon_chart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-list__link--compare-footer::before {
  background-image: url("../img/icon_chart-yellow.svg");
}

.user-list__link--basket {
  padding-left: 22px;
}

.user-list__link--basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-list__link--basket-footer::before {
  background-image: url("../img/icon_cart-yellow.svg");
}

.user-list__link:hover,
.user-list__link:focus {
  opacity: 0.6;
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list--footer .user-list__link {
  color: rgba(255, 255, 255, 0.7);
}

.user-list--footer .user-list__link:hover,
.user-list--footer .user-list__link:focus {
  color: var(--basic-white);
  opacity: 1;
}

.user-list--footer .user-list__link:hover::before,
.user-list--footer .user-list__link:focus::before {
  opacity: 0.6;
}

.user-list--footer .user-list__link:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.user-list--footer .user-list__link:active::before {
  opacity: 0.3;
}

/* search */
.search {
  position: relative;
  display: flex;
  width: 440px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.search::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 5px;
  width: 13px;
  height: 13px;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.search__input {
  width: 356px;
  height: 20px;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  padding-bottom: 13px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: inherit;
  border: none;
  outline: none;
}

.search__input::placeholder {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover::placeholder,
.search__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__button {
  display: none;
  box-sizing: content-box;
  width: 80px;
  height: 46px;
  margin-top: -15px;
  padding: 0;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: inherit;
  border: 2px solid var(--basic-black);
}

.search__button:hover,
.search__button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search__input:focus {
  border-bottom: 2px solid var(--basic-black);
}

.search__input:focus + .search__button,
.search:active .search__button {
  display: block;
}

/* site-list */
.site-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.site-list__item:first-child {
  position: relative;
  margin-right: 282px;
}

.site-list__item:nth-child(2) {
  margin-right: 38px;
}

.site-list__item:last-child {
  margin-left: auto;
}

.site-list--footer {
  justify-content: space-between;
  width: 423px;
}

.site-list--footer .site-list__item {
  margin-right: 0;
  margin-left: 0;
}

.site-list__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-list__link--catalog {
  padding-right: 38px;
}

.site-list--footer .site-list__link {
  color: var(--basic-white);
}

.site-list__link:hover,
.site-list__link:focus {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__catalog-button {
  position: absolute;
  top: 0;
  right: 3px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  background-color: inherit;
  background-image: url("../img/icon_menu-catalog-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* catalog-list */
.catalog-list {
  position: absolute;
  left: -60px;
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 560px;
  margin-top: 18px;
  padding-top: 12px;
  padding-bottom: 40px;
  list-style: none;
  background-color: var(--special-yellow);
}

.catalog-list__item {
  margin-bottom: 14px;
}

.catalog-list__item:last-child {
  margin-bottom: 0;
}

.catalog-list__item:first-child,
.catalog-list__item:nth-child(2) {
  margin-right: 61px;
}

.catalog-list__item:nth-child(4) {
  margin-right: 86px;
}

.catalog-list__item:nth-child(5) {
  margin-right: 150px;
}

.catalog-list__link {
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-list__link:hover,
.catalog-list__link:focus {
  opacity: 0.6;
}

.catalog-list__link:active {
  opacity: 0.3;
}

/* page-main */
.page-main__columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.page-main__about-us {
  width: 500px;
}

.page-main__contacts {
  width: 560px;
}

/* promo */
.promo {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 92px;
}

.promo::before {
  content: "";
  position: absolute;
  top: 55px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__item {
 display: flex;
 justify-content: space-between;
}

.promo__image {
  margin-left: 89px;
  margin-top: 20px;
}

.promo__info {
  display: flex;
  flex-direction: column;
  width: 513px;
  margin-right: 47px;
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-top: -62px;
  margin-bottom: 28px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo__number {
  height: 170px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 5px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.promo__description {
  width: 478px;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
  line-height: 20px;
}

.promo__button {
  box-sizing: border-box;
  width: 220px;
  margin-bottom: 50px;
}

.promo__slider-controls {
  position: absolute;
  bottom: 140px;
  right: 88px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 72px;
}

.promo__slider-button {
  position: relative;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.promo__slider-button--current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

/* characteristic */
.characteristic tr,
.characteristic td {
  display: flex;
}

.characteristic__value {
  padding: 0;
  margin-right: 60px;
  margin-bottom: 14px;
  font-family: Gilroy;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.characteristic__value:last-child {
  margin-right: 0;
}

.characteristic__name {
  padding: 0;
  margin-right: 62px;
  font-family: Gilroy;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* main-catalog */
.main-catalog {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-catalog__item {
  width: 160px;
}

.main-catalog__link {
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.main-catalog__link--fitnes {
  letter-spacing: 0;
}

.main-catalog__link-background {
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: var(--special-yellow);
}

.main-catalog__link-icon {
  margin: auto;
}

.main-catalog__link:hover .main-catalog__link-background,
.main-catalog__link:focus .main-catalog__link-background,
.main-catalog__linl:active .main-catalog__link-background {
  background-color: var(--special-yellow-dark);
}

.main-catalog__link:active {
  opacity: 0.3;
}

.main-catalog__link:active .main-catalog__link-icon {
  opacity: 0.3;
}

/* services */
.services {
  margin-bottom: 90px;
  background-image:
    linear-gradient(
      var(--basic-white) 108px,
      var(--basic-grey-light) 108px
    );
}

.services__container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 130px;
}

.services__slider-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__slider-list::before {
  content: "";
  position: absolute;
  top: -80px;
  right: 0;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.services__slider-item {
  margin-bottom: 22px;
}

.services__slider-item:last-child {
  margin-bottom: 0;
}

.services__slider-button {
  z-index: 1;
  box-sizing: border-box;
  width: 160px;
  padding-left: 0;
  padding-right: 0;
}

.services__slider-button:active::before {
  width: 277px;
  background-color: var(--basic-black);
}

.services__slider-button--current,
.services__slider-button:active {
  color: var(--special-yellow);
}

.services__slider-button--current::before {
  top: 0;
  width: 277px;
  height: 100%;
  background-color: var(--basic-black);
}

.services__slider-button--current:hover {
  color: var(--basic-black);
}

.services__slider-button--current:hover::before {
  width: 100%;
  background-color: var(--special-yellow-dark);
}

.services__list {
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  margin-top: -8px;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/icon_delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services__item-description {
  width: 560px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* producers */
.producers {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.producers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.producers__link {
  display: block;
  width: 260px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.producers__link--dji {
  background-image: url('../img/logo_dji.png');
}

.producers__link--dji:hover,
.producers__link--dji:focus {
  background-image: url('../img/logo_dji-color.png');
}

.producers__link--sp {
  background-image: url('../img/logo_SP.png');
}

.producers__link--sp:hover,
.producers__link--sp:focus {
  background-image: url('../img/logo_SP-color.png');
}

.producers__link--gp {
  background-image: url('../img/logo_gopro.png');
}

.producers__link--gp:hover,
.producers__link--gp:focus {
  background-image: url('../img/logo_gopro-color.png');
}

.producers__link--vive {
  background-image: url('../img/logo_vive.png');
}

.producers__link--vive:hover,
.producers__link--vive:focus {
  background-image: url('../img/logo_vive-color.png');
}

/* about-us */
.about-us {
  position: relative;
  padding-top: 57px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us__text {
  width: 420px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.about-us__text--last {
  width: 475px;
  margin-bottom: 63px;
}

.about-us__button {
  padding-left: 24px;
  padding-right: 18px;
}

/* company-list */
.company-list {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.company-list__item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.company-list__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

.company-list__item:last-child {
  margin-bottom: 0;
}

/* contacts */
.contacts {
  position: relative;
  padding-top: 57px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.contacts__map-link {
  display: block;
  margin-bottom: 82px;
}

.contacts__map-image {
  display: block;
  width: 560px;
  height: 222px;
}

.contacts__button {
  padding-left: 40px;
  padding-right: 40px;
}

/* CATALOG */
.catalog {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
}

.catalog__title {
  grid-column: 2 / 4;
  width: 1040px;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 25px;
  padding: 0 60px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.catalog__breadcrumbs {
  grid-column: 2 / 4;
  width: 1040px;
  margin: 0;
  padding: 0;
  padding: 0 60px;
  margin-bottom: 47px;
}

.catalog__filter-wrapper {
  grid-column: 1 / 3;
  background-image: 
    linear-gradient(
      to bottom,
      #dcdcdc 70px,
      var(--basic-grey-light) 70px
    );
}

.catalog__items-wrapper {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  background-image: 
    linear-gradient(
      to bottom,
      var(--basic-grey-light) 70px,
      var(--basic-white) 70px
    );
}

.catalog__items {
  width: 760px;
  margin-top: 70px;
  margin-left: 72px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 432px;
  margin-right: 40px;
  margin-bottom: 48px;
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog__item:hover .catalog__item-image,
.catalog__item:focus .catalog__item-image {
  opacity: 0.7;
}

.catalog__item-actions {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 209px;
  padding-top: 171px;
  padding-left: 80px;
  padding-right: 80px;
}

.catalog__button-basket {
  box-sizing: border-box;
  width: 200px;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 13px;
}

.catalog__button-compare {
  width: 200px;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.catalog__button-compare:hover,
.catalog__button-compare:focus {
  color: var(--basic-black);
}

.catalog__button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog__item .catalog__item-actions {
  display: none;
}

.catalog__item:hover .catalog__item-actions,
.catalog__item:focus .catalog__item-actions {
  display: flex;
}

.catalog__item--new {
  position: relative;
}

.catalog__item--new::before {
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.catalog__item-description {
  display: flex;
  justify-content: space-between;
  order: 1;
}

.catalog__item-title {
  width: 265px;
  margin: 0;
  padding: 0;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog__item-price {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog__item-image {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
}

/* breadcrumbs-list */
.breadcrumbs-list {
  display: flex;
  list-style: none;
}

.breadcrumbs-list__item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-list__item::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -26px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon_arrow-nav.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-list__item:last-child::after {
  display: none;
}

.breadcrumbs-list__link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-list__link:hover,
.breadcrumbs-list__link:focus {
  opacity: 0.6;
}

.breadcrumbs-list__link:active {
  opacity: 0.1;
}

/* sort */
.sort {
  display: flex;
  width: 760px;
  padding-left: 72px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sort__title {
  margin: 0;
  margin-right: 74px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  vertical-align: middle;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__item {
  margin-right: 30px;
  line-height: 20px;
}

.sort__item:last-child {
  margin-right: 0;
}

.sort__link {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.sort__link:hover,
.sort__link:focus {
  opacity: 0.6;
}

.sort__link--current,
.sort__link:active {
  opacity: 1;
}

.sort__buttons {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin-left: auto;
   line-height: 20px;
}

.sort__button {
  width: 18px;
}

.sort__button--up,
.sort__button--down {
  position: relative;
}

.sort__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon_triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sort__button:hover::before {
  opacity: 0.4;
}

.sort__button--current::before,
.sort__button:focus::before,
.sort__button:active::before {
  opacity: 1;
}

.sort__button--down::before {
  transform: rotate(180deg);
}

/* filter */
.filter {
  width: 268px;
  padding-left: 60px;
  margin-left: auto;
}

.filter__title {
  margin: 0;
  padding: 0;
  padding: 25px 0;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__form {
  padding-top: 70px;
}

.filter__group {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  border: 0;
}

.filter__group--cost {
  margin-bottom: 32px;
}

.filter__group--bluetooth {
  margin-bottom: 41px;
}

.filter__group-title {
  position: relative;
  padding-top: 16px;
  margin-bottom: 30px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.filter__group-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
}

/* filter-range */
.range {
  margin-top: 7px;
}

.range__controls {
  position: relative;
  margin-bottom: 12px;
}

.range__scale {
  height: 2px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range__bar {
  height: 2px;
  width: 122px;
  background-color: #91C92F;
}

.range__toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  background-color: #c4c4c4;
  cursor: pointer;
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  left: 114px;
}

.rangr__price-label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.range__price-input {
  width: 60px;
  margin-right: 12px;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  line-height: 16px;
  background: transparent;
}

/* filter-color */
.filter__color-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__color-item {
  margin-bottom: 15px;
}

.filter__color-item:last-child {
  margin-bottom: 0;
}

.filter__label-checkbox {
  position: relative;
  display: block;
  min-height: 22px;
  padding-left: 42px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.filter__checkbox + .filter__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter__checkbox:checked + .filter__label-checkbox::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter__checkbox:hover + .filter__label-checkbox::before,
.filter__checkbox:focus + .filter__label-checkbox::before,
.filter__checkbox:hover + .filter__label-checkbox::after,
.filter__checkbox:focus + .filter__label-checkbox::after {
  opacity: 0.6;
}

.filter__checkbox:active + .filter__label-checkbox::before,
.filter__checkbox:active + .filter__label-checkbox::after {
  opacity: 1;
}

.filter__checkbox:disabled + .filter__label-checkbox {
  color: #a6a6a6;
}

.filter__checkbox:disabled + .filter__label-checkbox::before,
.filter__checkbox:disabled + .filter__label-checkbox::after {
  opacity: 0.25;
}

/* filter-bluetooth */
.filter__bluetooth-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__bluetooth-item {
  margin-bottom: 16px;
}

.filter__bluetooth-item:last-child {
  margin-bottom: 0;
}

.filter__label-radio {
  position: relative;
  display: block;
  min-height: 22px;
  padding-left: 40px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.filter__radio + .filter__label-radio::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter__radio:checked + .filter__label-radio::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  background-color: var(--basic-black);
}

.filter__radio:hover + .filter__label-radio::before,
.filter__radio:focus + .filter__label-radio::before,
.filter__radio:hover + .filter__label-radio::after,
.filter__radio:focus + .filter__label-radio::after {
  opacity: 0.6;
}

.filter__radio:active + .filter__label-radio::before,
.filter__radio:active + .filter__label-radio::after {
  opacity: 1;
}

.filter__radio:disabled + .filter__label-radio {
  color: #a6a6a6;
}

.filter__radio:disabled + .filter__label-radio::before,
.filter__radio:disabled + .filter__label-radio::after {
  opacity: 0.25;
}

.filter__button {
  box-sizing: border-box;
  width: 200px;
  z-index: 1;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 78px;
  background-color: #ebebeb;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin-right: 30px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination__link:hover,
.pagination__link:focus {
  opacity: 0.6;
}

.pagination__link--active,
.pagination__link:active {
  opacity: 1;
}

.pagination__button {
  padding: 25px 30px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: #d9d9d9;
}

.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* page-footer */
.page-footer {
  background-color: var(--basic-dark);
}

.page-footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 64px;
}

.page-footer__container::before {
  content: "";
  position: absolute;
  top: 239px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC600;
}

.page-footer__logo-link {
  width: 163px;
  margin-top: -2px;
  margin-bottom: 40px;
}

.page-footer__logo-link:hover,
.page-footer__logo-link:focus {
  opacity: 0.6;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

.page-footer__user-navigation {
  order: -1;
  margin-left: auto;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__contacts-address,
.page-footer__contacts-phone {
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: var(--basic-white);
}

.page-footer__site-navigation {
  margin: 0 auto;
  margin-top: -21px;
  margin-bottom: 67px;
}

.page-footer__social {
  margin: 0 auto;
}

.page-footer__copyright {
  margin-top: -32px;
  margin-left: auto;
}

/* social */
.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--fb::before {
  background-image: url("../img/icon_facebook.svg");
}

.social__link--inst::before {
  background-image: url("../img/icon_instagram.svg");
}

.social__link--tw::before {
  background-image: url("../img/icon_twitter.svg");
}

/* copyright */
.copyright__link {
  position: relative;
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__link:hover,
.copyright__link:focus {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Modal-write-us */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 5;
}

.modal-write {
  top: 120px;
  bottom: auto;
  display: none;
  width: 760px;
  padding-top: 92px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-left: 100px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-write__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-write__input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.modal-write__textarea-wrapper {
  margin-top: 32px;
}

.modal-write__label {
  margin-bottom: 10px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.modal-write__input {
  width: 320px;
  padding: 17px 20px;
  border: none;
  background-color: #f2f2f2;
}

.modal-write__input:hover {
  background-color: #eaeaea;
}

.modal-write__input:focus {
  padding: 15px 18px;
  color: var(--basic-dark);
  outline: none;
  border: 2px solid var(--special-yellow);
  background-color: var(--basic-white);
}

.modal-write__textarea {
  width: 720px;
  height: 135px;
  padding: 16px 20px;
  border: none;
  background-color: #f2f2f2;
  resize: none;
}

.modal-write__button--send {
  box-sizing: border-box;
  width: 200px;
  padding: 9px 34px; 
  margin-top: 13px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow);
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 16px;
  width: 25px;
  height: 3px;
  background-color: var(--basic-white);
  opacity: 0.7;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus,
.modal-close:active {
  outline: none;
  opacity: 0.3;
}

/* modal-wrap */
.modal-map {
  top: 120px;
  bottom: auto;
  display: none;
  width: 994px;
  height: 593px;
}

.modal-map iframe {
  border: none;
}

.modal-map__image {
  display: block;
}

.modal-map__close {
  top: 29px;
  right: 36px; 
}
